@media (max-width: 479px) {
  .index-page .header .logo::before {
    top: -8px;
    left: -20px;
    width: calc(100% + 30px);
    height: calc(100% + 17px);
  }

  .payment-methods__item {
    min-height: initial;
    padding: 0;
  }

  .payment-methods__item .picture {
    position: relative;
    width: 100%;
    height: 140px;

    img {
      width: 150px;
      height: 140px;
    }
  }

  .payment-methods__text {
    margin-top: 10px;
  }

  .payment-methods__top {
    padding: 20px 15px;
    clip-path: polygon(0% 0%, 83% 0, 100% 8%, 100% 100%, 0% 100%);
  }

  .payment-methods__bottom {
    padding: 15px;
  }

  .hotels {
    font-size: 14px;
    line-height: 18px;
  }

  .hotels .letter {
    font-size: 20px;
    line-height: 20px;
    top: -4px;
  }

  .hotels-item {
    padding-left: 30px;
  }

  .hotels-item .picture {
    width: 25px;
    height: 15px;
    display: none;
  }

  .hotels-item a:hover + .picture {
    right: -35px;
    opacity: 1;
  }

  .hotels__list {
    gap: 15px;
  }

  .hotels-block__list {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .hotels-block .pagination {
    margin-top: 30px;
  }

  .pagination {
    gap: 5px;

    .btn-arrow {
      width: 35px;
      height: 35px;
      background-size: contain;
    }
  }

  .pagination__toh {
    width: 35px;
    height: 35px;
  }

  .pagination__link {
    width: 35px;
    height: 35px;
  }

  .details-section .pagination {
    margin-top: 30px;
  }

  .menu-tabs-links .arrow-block::before {
    display: none;
  }
}

@media (max-width: 359px) {
  .logo {
    width: 110px;
    height: 25px;
  }

  .menu-invis {
    width: 280px;
    left: -280px;
  }

  .btn-menu.opened {
    left: 280px;
  }

  .menu-invis ul li a {
    padding: 12px 20px;
    font-size: 12px;
    line-height: 14px;
  }

  .menu-invis .header-adress {
    font-size: 12px;
    line-height: 18px;
  }

  .footer__center,
  .footer__bottom,
  .footer__top {
    padding: 20px 10px;
  }

  .footer__center {
    padding-top: 0;
  }

  h1,
  .caption--h1 {
    font-size: 28px;
  }
}
