@media (max-width: 767px) {
  .header {
    padding: 20px 18px;
  }

  .index-page {
    .header {
      padding: 10px 18px;
    }
  }

  .index-page .header .logo::before {
    top: -35px;
  }

  .header__inner {
    gap: 20px;
  }

  .btn-menu {
    width: 30px;
    height: 60px;

    &::after {
      background-size: 15px;
    }

    &::before {
      background-size: contain;
    }
  }

  .footer__center {
    padding-top: 0;
    flex-direction: column;
    gap: 20px;
  }

  .footer__top {
    gap: 23px;
    padding: 20px 18px;

    .header-adress {
      width: 230px;
    }

    .btn {
      svg {
        display: none;
      }
    }
  }

  .footer__center {
    padding: 20px 18px;
  }

  .footer__links {
    line-height: 40px;
  }

  .footer__bottom {
    flex-direction: column;
    gap: 20px;
    padding: 20px 18px;

    .footer__logo {
      order: -1;
    }
  }

  .link {
    font-size: 14px;
    line-height: 18px;
  }

  .slider-section__head .link {
    transform: translateY(0);
  }

  section {
    padding: 30px 0;
  }

  body {
    font-size: 18px;
    line-height: 26px;
  }

  .text-page {
    padding: 30px 0 0;
  }

  .breadcrumbs {
    padding: 25px 18px;
  }

  .image-block {
    padding: 0;

    .picture {
      position: relative;
      width: calc(100% + 40px);
      height: auto;
      padding-top: calc(220 / 360 * 100%);
      left: -20px;
    }
  }

  .image-block__content {
    padding: 30px 0;
    max-width: 100%;
    width: 100%;
    clip-path: initial;
  }

  .image-block__content p {
    -webkit-line-clamp: 9;
  }

  .text-block {
    padding: 30px 0;
  }

  .our-values__title {
    font-size: 18px;
    line-height: 24px;
  }

  .our-values li {
    font-size: 14px;
    line-height: 20px;
  }

  .boss__name {
    font-size: 18px;
    line-height: 24px;
  }

  .boss__desc {
    font-size: 14px;
    line-height: 20px;
  }

  .boss__content {
    padding-left: 105px;
    gap: 4px;
  }

  .types-services__name {
    font-size: 18px;
    line-height: 24px;
  }

  .types-services__content {
    margin-top: 12px;
  }

  .hotels-list {
    padding: 30px 0;
  }

  .hotels-item {
    padding-left: 40px;
  }

  .hotels .letter {
    font-size: 30px;
    line-height: 30px;
    top: -7px;
  }

  .hotels {
    margin-top: 30px;
  }
}
