@media (max-width: 1023px) {
  .header {
    padding: 10px 30px;

    .link-mail {
      display: none;
    }
  }

  .menu-invis {
    padding: 20px 0;
    font-size: 14px;
    line-height: 16px;
    width: 300px;
    left: -300px;

    ul {
      li {
        a {
          padding: 15px 20px;
        }
      }
    }

    .header-adress {
      padding: 0 20px;
      margin-top: 20px;
    }

    .header-link {
      display: block;
      padding: 0 20px;
      margin-top: 20px;
    }

    .link-mail {
      display: flex;
      font-size: 12px;
      text-transform: none;
      padding: 0 0 0 25px;
      font-weight: 400;
    }
  }

  .btn-menu.opened {
    left: 300px;
  }

  .btn-menu {
    width: 30px;
    height: 70px;
    top: 32px;

    &::after {
      background-size: 15px;
    }

    &::before {
      background-size: contain;
    }
  }

  .footer__top {
    padding: 20px 30px;
    flex-direction: column;
    gap: 40px 20px;

    .logo {
      width: 235px;
      height: 52px;
    }

    .header-info {
      margin: 0 auto;
    }

    .header-adress {
      width: 100%;
      text-align: center;
      justify-content: center;

      .header-adress__icon {
        flex: initial;
      }
    }
  }

  .footer__links {
    position: relative;
    transform: translate(0);
    left: 0;
    top: 0;
    order: 5;
  }

  .footer__center {
    padding: 20px 30px;
  }

  .footer__bottom {
    padding: 20px 30px;
  }

  .developer {
    font-size: 14px;
    line-height: 18px;
  }

  .copyRight {
    font-size: 14px;
    line-height: 18px;
  }

  .footer__center__text {
    font-size: 14px;
    line-height: 20px;
  }

  .index-page .header .logo::before {
    top: -30px;
  }

  .slider-section__body {
    margin-top: 20px;
  }

  .slider-default__price {
    font-size: 20px;
    line-height: 22px;
  }

  .text-page__row {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .text-page__row .caption {
    grid-column: initial;
    order: 1;
  }

  .text-page__text {
    order: 3;
    padding: 20px 0;

    &::before {
      right: -30px;
    }
  }

  .text-page__row .picture {
    width: 100%;
    max-height: initial;
    padding-top: calc(220 / 360 * 100%);
    order: 2;
    left: -20px;
    width: calc(100% + 40px);
    margin-top: 20px;
  }

  .breadcrumbs {
    padding: 25px 30px;
  }

  .text-block__line {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
  }

  .text-block ul,
  .text-block ol {
    left: -20px;
    width: calc(100% + 40px);
    position: relative;
  }

  .text-block ul li,
  .text-block ol li {
    padding-left: 60px;
  }

  .image-block {
    min-height: 500px;
  }

  .image-block__content {
    padding: 40px;
    max-width: 470px;
  }
}
