@media (max-width: 1899px) {
  .header {
    &.opened {
      .header__inner {
        padding-left: 0;
      }
    }
  }
}

@media (max-width: 1799px) {
  .footer__top {
    padding: 20px 60px;
  }

  .footer__center {
    padding: 80px 100px 100px;
  }

  .header .btn {
    padding-left: 22px;
    padding-right: 22px;
  }
}

@media (max-width: 1599px) {
  .menu-invis {
    padding: 50px 0;
  }

  .menu-invis ul li a {
    padding: 15px 70px;
  }

  .grettings {
    max-height: 680px;
  }

  .index-page .menu-invis {
    max-height: 579px;
    min-height: 579px;
  }

  section {
    padding: 50px 0;
  }

  .slider-default__item .picture {
    padding-top: calc(350 / 300 * 100%);
  }

  .slider-default__link {
    font-size: 22px;
    line-height: 30px;
  }

  .slider-section__body {
    margin-top: 45px;
  }

  .phone-block {
    font-size: 18px;
    line-height: 28px;
  }

  .text-page__row {
    gap: 30px 50px;
  }

  .text-page__text {
    padding: 30px 50px 30px 0;
  }

  body {
    font-size: 20px;
    line-height: 28px;
  }

  .text-block {
    padding: 50px 0;
  }

  .image-block {
    padding: 40px 0;
    min-height: 700px;
  }

  .image-block__content {
    padding: 40px 50px;
  }

  .payment-methods__top {
    padding: 45px 50px;
  }

  .types-services__item .picture {
    padding-top: calc(250 / 210 * 100%);
  }

  .hotels__list {
    gap: 16px;
  }

  .hotels {
    font-size: 18px;
    line-height: 28px;
    margin-top: 30px;
  }

  .hotels .letter {
    font-size: 30px;
    line-height: 35px;
    left: 15px;
    top: -9px;
  }

  .hotels-section {
    padding: 0;
  }

  .country-page__content {
    padding-left: 340px;
    gap: 20px;
  }

  .country-page__content .picture {
    left: -41px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .visa-block {
    padding: 30px;
  }

  .transfers-item__head {
    font-size: 20px;
    line-height: 30px;
    padding: 30px 70px 30px 57px;

    &::after {
      right: 40px;
    }
  }

  .country-page {
    padding: 0 0 60px;
  }

  .country-gallery {
    padding: 60px 0;
    margin-bottom: 60px;
  }

  .slider-gallery .picture {
    padding-top: calc(440 / 585 * 100%);
  }

  .slider-gallery {
    margin-top: 30px;
  }

  .hotels-block__item .picture {
    left: 0;
  }

  .hotels-block {
    margin-top: 50px;
    padding-top: 50px;
  }

  .hotels-block .pagination {
    margin-top: 50px;
  }

  .slider-images-big .picture {
    height: 560px;
  }

  .text-simple {
    padding: 30px 0;
  }

  .text-notice {
    padding: 30px;
  }

  .exlusive-programs__item {
    p {
      margin-top: 15px;
    }

    .picture {
      padding-top: calc(390 / 390 * 100%);
    }
  }

  .details-section .pagination {
    margin-top: 50px;
  }

  .exlusive-programs {
    gap: 30px;
    margin-top: 50px;
  }

  .menu-tabs-links {
    margin-top: 50px;
  }

  .details-section {
    padding: 30px 0 50px;
  }

  .tabs-link {
    font-size: 24px;
    line-height: 30px;
  }

  .slider-default__list {
    gap: 30px;
    margin-top: 50px;
  }

  .news {
    gap: 30px;
    margin-top: 50px;
  }

  .details-section .caption + .text-page__text {
    margin-top: 30px;
  }

  .contacts-info {
    padding: 50px 0;
  }

  .contacts {
    margin-top: 30px;
    gap: 50px;
  }

  .map {
    height: 450px;
  }

  .contacts-info__phone {
    font-size: 20px;
    line-height: 30px;
  }

  .contacts-info__timeWork {
    margin-top: 25px;
  }

  .contacts-info__adress {
    margin-top: 25px;
  }

  .contacts-info .link-mail {
    font-size: 18px;
    line-height: 24px;
    margin-top: 25px;
  }

  .contacts-info .social {
    margin-top: 30px;
  }

  .contacts-info .btn {
    margin-top: 30px;
  }

  .company-details li {
    padding: 15px 0;
  }

  .company-details {
    font-size: 16px;
    line-height: 28px;
    padding: 30px 0;
  }

  .country-page__content .picture {
    height: 320px;
  }

  .input-list__controls {
    align-items: flex-start;
  }

  .modal-success .circle {
    width: 80px;
    height: 80px;
    background-size: 30px;
  }

  .modal-success {
    gap: 10px;
    padding: 50px 10px;
  }

  .modal-success .caption {
    margin-top: 0;
  }

  .modal-success .btn {
    margin-top: 15px;
  }

  .footer__top {
    flex-wrap: wrap;
    padding: 30px 30px;
  }

  .footer-col {
    width: calc(100% / 3 - 125px);

    &:last-child {
    }
  }

  .footer .btn {
    margin-top: 20px;
  }
}
