$fontMain: "Montserrat";
// $fontMain: "Raleway";

// default
$colorBorder: rgba(53, 41, 30, 0.3);

$colorWhite: rgba(255, 255, 255, 1);
$colorWhite-a7: rgba(255, 255, 255, 0.7);
$colorWhite-a2: rgba(255, 255, 255, 0.2);
$colorBlack: rgba(0, 0, 0, 1);

// blue
$colorBlue: rgba(26, 54, 102, 1); // #1a3666
$colorBlueLight: rgba(81, 132, 196, 1);
$colorbluelight-a8: rgba(81, 132, 196, 0.8);
$colorBlueDark: rgba(0, 0, 42, 1);

// gold
$colorGold: rgba(196, 170, 108, 1); // #c4aa6c
$colorGoldLight: rgba(208, 180, 111, 1);

// gray
$colorGray: rgba(128, 128, 148, 1);

// bg
$colorGrayBack: rgb(247, 249, 249); // #F7F9F9
